@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;400;700&display=swap");
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes preload {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes preload {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes preloadlogo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
@keyframes preloadlogo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
:root {
  --padding: 0em 0em;
}

* {
  font-family: "Albert Sans", sans-serif;
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(16deg, rgb(72, 108, 171) 0%, rgb(111, 102, 167) 25%, rgb(108, 101, 144) 75%, rgb(88, 115, 149) 100%);
  z-index: 4;
  pointer-events: none;
  -webkit-animation: preload 2s ease 1 2.5s both;
          animation: preload 2s ease 1 2.5s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preload__img {
  max-width: 30em;
  -webkit-animation: preloadlogo 2s ease 1 both;
          animation: preloadlogo 2s ease 1 both;
  fill: #000;
}

body {
  padding: 2em;
  background: -webkit-gradient(linear, left top, right top, from(rgb(147, 174, 195)), to(rgb(18, 69, 111)));
  background: linear-gradient(90deg, rgb(147, 174, 195) 0%, rgb(18, 69, 111) 100%);
}

.header__wrapper {
  max-width: 120rem;
  margin: auto;
  width: 100%;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 924px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
}
.header__h1 {
  max-width: 10rem;
}
.header__burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}
@media screen and (max-width: 744px) {
  .header__burger {
    display: block;
  }
}
.header__btn {
  width: 50px;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__btn::before, .header__btn::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__btn::before {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}
.header__btn::after {
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
}
.header__nav {
  width: 50%;
}
@media screen and (max-width: 744px) {
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
.header__ul {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 744px) {
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: 0vh;
    pointer-events: none;
    gap: 2em;
  }
  .header__ul--activo {
    opacity: 1;
    height: 30vh;
    pointer-events: auto;
  }
}
.header__li {
  margin: 0 1em;
}
.header__link {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  color: #f5f5f5;
  font-size: 1.5em;
  font-weight: 900;
  padding: 0.5em;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 2px;
}
.header__link:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background: whitesmoke;
  left: 0;
  bottom: 0;
}
.header__link:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  color: #fff;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}
.header__link:hover::after {
  width: 100%;
}

.wrapper {
  max-width: 120rem;
  margin: auto;
  width: 100%;
  padding: var(--padding);
}

.main {
  margin-top: 1em;
}
.main__section {
  border-radius: 1em;
  max-width: 120rem;
  margin: auto;
  width: 100%;
}

.datos {
  padding: 1em;
  position: absolute;
  height: 100vh;
  top: 0;
  margin: auto;
  right: 0;
  left: 0;
}
@media (max-height: 757px) {
  .datos {
    position: static;
    height: auto;
  }
}
@media screen and (max-width: 924px) {
  .datos {
    position: static;
    height: auto;
  }
}
.datos__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5em;
  max-width: 100rem;
  height: 100%;
  gap: 2em;
}
@media screen and (max-width: 924px) {
  .datos__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.datos__templluv {
  height: 19em;
  border-radius: 2em;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3019607843), -10px -10px 20px rgba(0, 0, 0, 0.3019607843);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3019607843), -10px -10px 20px rgba(0, 0, 0, 0.3019607843);
  background: rgb(161, 140, 209);
  background: -webkit-gradient(linear, left top, right top, from(rgba(161, 140, 209, 0.1)), to(rgba(251, 194, 235, 0.1)));
  background: linear-gradient(90deg, rgba(161, 140, 209, 0.1) 0%, rgba(251, 194, 235, 0.1) 100%);
  padding: 1.5em;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
  max-width: 30rem;
  min-width: 25rem;
}
@media screen and (max-width: 924px) {
  .datos__templluv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 60rem;
    min-width: 23rem;
  }
}
@media screen and (max-width: 370px) {
  .datos__templluv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 60rem;
    min-width: 23rem;
  }
}
.datos__temperatura {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.datos__svg {
  width: 50%;
  margin: 0 1em;
}
@media screen and (max-width: 924px) {
  .datos__svg {
    width: 40%;
  }
}
.datos__svg svg {
  max-width: 10em;
  width: 100%;
  height: 6em;
  max-height: 6em;
  fill: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: 3s linear 1s infinite alternate svgs;
          animation: 3s linear 1s infinite alternate svgs;
}
@-webkit-keyframes svgs {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes svgs {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
.datos__info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2em;
}
@media screen and (max-width: 924px) {
  .datos__info {
    width: 60%;
  }
}
.datos__h2 {
  font-weight: 700;
  font-size: 1.5em;
  color: #d5d4d4;
}
@media screen and (max-width: 493px) {
  .datos__h2 {
    font-size: 1.3em;
  }
}
.datos__estado {
  font-weight: 700;
  font-size: 2.1em;
  color: #f5f5f5;
}
@media screen and (max-width: 493px) {
  .datos__estado {
    font-size: 2.2em;
  }
}
.datos__lluvia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.datos__h1 {
  font-weight: 700;
  font-size: 2.5em;
  color: #f5f5f5;
  text-align: center;
  line-height: 1em;
}
@media screen and (max-width: 493px) {
  .datos__h1 {
    font-size: 2.2em;
  }
}
.datos__viento {
  height: 19em;
  width: 40%;
  max-width: 30rem;
  min-width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2em;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3019607843), -10px -10px 20px rgba(0, 0, 0, 0.3019607843);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3019607843), -10px -10px 20px rgba(0, 0, 0, 0.3019607843);
  background: rgb(161, 140, 209);
  background: -webkit-gradient(linear, left top, right top, from(rgba(161, 140, 209, 0.1)), to(rgba(251, 194, 235, 0.1)));
  background: linear-gradient(90deg, rgba(161, 140, 209, 0.1) 0%, rgba(251, 194, 235, 0.1) 100%);
  gap: 3em;
}
@media screen and (max-width: 924px) {
  .datos__viento {
    width: 100%;
    max-width: 60rem;
    min-width: 23rem;
  }
}
.datos__h2--viento {
  font-weight: 700;
  font-size: 3em;
  color: #f5f5f5;
  line-height: 1em;
}
.datos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(40, 39, 39, 0.9);
  color: rgb(255, 255, 255);
  text-align: center;
}